<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="83a87161-e14b-4255-a720-881a37d7a06a" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="83a87161-e14b-4255-a720-881a37d7a06afileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>